@custom-media --break-sm (min-width: 384px);
@custom-media --break-md (min-width: 576px);
@custom-media --break-lg (min-width: 768px);

@custom-media --high-dppx (-webkit-min-device-pixel-ratio: 1.5),
    (min-resolution: 144dpi), (min-resolution: 1.5dppx);

:root {
  --space: 1.5em;
  --space-lg: 2em;
  --bg-color: hsl(150, 45%, 50%);
}
*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-family:"Arimo",sans-serif;
  color:#555;
  text-rendering: optimizeLegibility;
}
@media (--high-dppx) {
  html {
    font-weight: 300;
  }
}
img {
  max-width: 100%;
  height: auto; 
}
img {
  -ms-interpolation-mode: bicubic; 
}
p,
pre {
  margin:1.5rem 0;
}
p {
  letter-spacing:-0.02rem;
}
footer{
  background-image:url(../img/bg-footer.webp);
  color:#888;
  width:100%;
}
small {
	font-size:70%;
  color:#666;
}
a { 
  text-decoration: none; 
}
a,
a:visited {
  color:#DE7324;
}
a:hover {
  color:#F68B3C;
}
h1{
  color:#231B10;
  font-size: 2.5rem;
  margin-bottom:-0.75rem;
  font-weight:400;
  -webkit-font-kerning: normal;
  line-height:1;
  font-family:"bebas_neueregular";
  text-rendering:optimizeLegibility;
  text-shadow:1px 1px 1px rgba(45,45,45,0.5);
}
h2 {
  color:#231B10;
  font-size: 2rem;
  font-weight:400;
  line-height:1;
  margin:auto;
  font-family:"bebas_neueregular";
  text-rendering:optimizeLegibility;
  text-shadow:1px 1px 1px rgba(45,45,45,0.5);
}
h3 {
  font-size:1.75rem;
  font-weight:400;
  color:#444;
  line-height:1;
  margin:0.5rem auto;
  font-family:"bebas_neueregular";
  text-rendering:optimizeLegibility;
  
}
h4 {
  font-size:1.5rem;
  font-weight:300;
  color:#444;
  line-height:1;
  margin:0.5rem auto;
  font-family:"bebas_neueregular";
  text-rendering:optimizeLegibility;
}
h5 {
  font-size:1.25rem;
  font-weight:300;
  color:#444;
  line-height:1;
  margin:0.5rem auto;
  font-family:"bebas_neueregular";
  text-rendering:optimizeLegibility;
}
h6 {
  font-size:1rem;
  font-weight:300;
  color:#444;
  line-height:1;
  margin:0.5rem auto;
  font-family:"bebas_neueregular";
  text-rendering:optimizeLegibility;
}
hr {
  color:#ccc;
  margin: 1.5rem auto;
}
/* FLEXBOX 
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.Site {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* 1, 3 */
}
.Site-header,
.Site-footer {
  flex: none; /* 2 */
}

.Site-content {
  flex: 1 auto; /* 2 */
  padding: 1.5rem;
  width: 100%;
}
.Site-content::after {
  content: '\00a0'; /* &nbsp; */
  display: block;
  margin-top: 1.5rem;
  height: 0px;
  visibility: hidden;
}
@media (min-width: 768px) {
  .Site-content {
    /*padding-top: 2rem;*/
    background:url(../img/bg-content.webp) bottom center no-repeat;
    background-size:contain;
  }
  .Site-content::after {
    margin-top: 2rem;
  }
}
.Site-content--full {
  padding: 0;
}
.Site-content--full::after {
  content: none;
}
.Site-header{
  width:100%;
}
.Aligner {
  display: flex;
  align-items: center;
  min-height: 70vh;
  justify-content: center;
}

.Aligner-item {
/*  display:flex;*/
  align-items: center;
  justify-content: center;
}
.Aligner-item--top {
  align-self: flex-start;
}
.Aligner-item--bottom {
  align-self: flex-end;
}
.Aligner-item--fixed {
  flex: none;
  max-width: 50%;
}
.Container {
  max-width: 80em;
  margin: 0 auto;
}
.Footer {
  padding: 1.5rem 1.5rem ;
  font-size: 0.85rem;
  background:url(../img/logo-footer.webp) bottom left no-repeat;
  background-size: contain;
}
.Footer a:focus,
.Footer a:active,
.Footer a:hover {
  color: #fff;
  text-decoration: underline;
}
.footer ul, 
.footer li {
  list-style-type:none;
  font-weight:bold;
}
footer .border {
  border-left:solid 1px #555;
  margin:10px;
  padding:5px;
}
.Grid {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}
.Grid-cell {
  flex: 1;
}
.Grid--flexCells > .Grid-cell {
  display: flex;
}

.Grid--top {
  align-items: flex-start;
}

.Grid--bottom {
  align-items: flex-end;
}

.Grid--center {
  align-items: center;
}

.Grid--justifyCenter {
  justify-content: center;
}

.Grid-cell--top {
  align-self: flex-start;
}

.Grid-cell--bottom {
  align-self: flex-end;
}

.Grid-cell--center {
  align-self: center;
}

.Grid-cell--autoSize {
  flex: none;
}

.Grid--fit > .Grid-cell {
  flex: 1;
}

.Grid--full > .Grid-cell {
  flex: 0 0 100%;
}

.Grid--1of2 > .Grid-cell {
  flex: 0 0 50%;
}

.Grid--1of3 > .Grid-cell {
  flex: 0 0 33.3333%;
}

.Grid--1of4 > .Grid-cell {
  flex: 0 0 25%;
}

@media (--break-sm) {
  .small-Grid--fit > .Grid-cell {
    flex: 1;
  }
  .small-Grid--full > .Grid-cell {
    flex: 0 0 100%;
  }
  .small-Grid--1of2 > .Grid-cell {
    flex: 0 0 50%;
  }
  .small-Grid--1of3 > .Grid-cell {
    flex: 0 0 33.3333%;
  }
  .small-Grid--1of4 > .Grid-cell {
    flex: 0 0 25%;
  }
}

@media (--break-md) {
  .med-Grid--fit > .Grid-cell {
    flex: 1;
  }
  .med-Grid--full > .Grid-cell {
    flex: 0 0 100%;
  }
  .med-Grid--1of2 > .Grid-cell {
    flex: 0 0 50%;
  }
  .med-Grid--1of3 > .Grid-cell {
    flex: 0 0 33.3333%;
  }
  .med-Grid--1of4 > .Grid-cell {
    flex: 0 0 25%;
  }
}

@media (--break-lg) {
  .large-Grid--fit > .Grid-cell {
    flex: 1;
  }
  .large-Grid--full > .Grid-cell {
    flex: 0 0 100%;
  }
  .large-Grid--1of2 > .Grid-cell {
    flex: 0 0 50%;
  }
  .large-Grid--1of3 > .Grid-cell {
    flex: 0 0 33.3333%;
  }
  .large-Grid--1of4 > .Grid-cell {
    flex: 0 0 25%;
  }
}

.Grid--gutters {
  margin: -1em 0 1em -1em;
}
.Grid--gutters > .Grid-cell {
  padding: 1em 0 0 1em;
}

.Grid--guttersLg {
  margin: -1.5em 0 1.5em -1.5em;
}
.Grid--guttersLg > .Grid-cell {
  padding: 1.5em 0 0 1.5em;
}

.Grid--guttersXl {
  margin: -2em 0 2em -2em;
}
.Grid--guttersXl > .Grid-cell {
  padding: 2em 0 0 2em;
}

@media (--break-sm) {
  .small-Grid--gutters {
    margin: -1em 0 1em -1em;
  }
  .small-Grid--gutters > .Grid-cell {
    padding: 1em 0 0 1em;
  }
  .small-Grid--guttersLg {
    margin: -1.5em 0 1.5em -1.5em;
  }
  .small-Grid--guttersLg > .Grid-cell {
    padding: 1.5em 0 0 1.5em;
  }
  .small-Grid--guttersXl {
    margin: -2em 0 2em -2em;
  }
  .small-Grid--guttersXl > .Grid-cell {
    padding: 2em 0 0 2em;
  }
}

@media (--break-md) {
  .med-Grid--gutters {
    margin: -1em 0 1em -1em;
  }
  .med-Grid--gutters > .Grid-cell {
    padding: 1em 0 0 1em;
  }
  .med-Grid--guttersLg {
    margin: -1.5em 0 1.5em -1.5em;
  }
  .med-Grid--guttersLg > .Grid-cell {
    padding: 1.5em 0 0 1.5em;
  }
  .med-Grid--guttersXl {
    margin: -2em 0 2em -2em;
  }
  .med-Grid--guttersXl > .Grid-cell {
    padding: 2em 0 0 2em;
  }
}

@media (--break-lg) {
  .large-Grid--gutters {
    margin: -1em 0 1em -1em;
  }
  .large-Grid--gutters > .Grid-cell {
    padding: 1em 0 0 1em;
  }
  .large-Grid--guttersLg {
    margin: -1.5em 0 1.5em -1.5em;
  }
  .large-Grid--guttersLg > .Grid-cell {
    padding: 1.5em 0 0 1.5em;
  }
  .large-Grid--guttersXl {
    margin: -2em 0 2em -2em;
  }
  .large-Grid--guttersXl > .Grid-cell {
    padding: 2em 0 0 2em;
  }
}
.Header {
  padding: 1.5em;
  background: rgba(147, 128, 108, 0.1);
  text-align: left;
}
@media (--break-lg) {
  .Header {
    padding: 3em 1.5em;
  }
}

.Header-title {
  margin: 0 0 0.15em;
  font-size: 1.8em;
  font-weight: 600;
  line-height: 1;
  word-spacing: 0.08em;
}
.Header-title i {
  font-family: serif;
  font-style: italic;
  font-weight: 400;
}
.Header-title a {
  border: 0;
  color: inherit;
  font-weight: inherit;
}
.Header-title a:focus, .Header-title a:hover, .Header-title a:active {
  text-decoration: none;
}
@media (--break-lg) {
  .Header-title {
    font-size: 4em;
  }
}

.Header-subTitle {
  margin: 0 0 1.5em;
  font-size: 0.8em;
  font-weight: 300;
  white-space: nowrap;
}
@media (--break-lg) {
  .Header-subTitle {
    margin: 1em 0 1.75em;
    font-size: 1.1em;
  }
}

.Header-actions {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  font-size: 0.9em;
}
@media (--break-sm) {
  .Header-actions {
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }
}
@media (--break-lg) {
  .Header-actions {
    font-size: 1.1em;
  }
}

.Header-button:first-child {
  margin: 0 0 1em;
}
@media (--break-sm) {
  .Header-button:first-child {
    margin: 0 1em 0 0;
  }
}

@media (--break-lg) {
  .Header--cozy {
    display: flex;
    padding: 1.5em;
    align-items: center;
  }
  .Header--cozy .Header-titles {
    display: flex;
    align-items: baseline;
  }
  .Header--cozy .Header-title {
    font-size: 1.5em;
  }
  .Header--cozy .Header-subTitle {
    margin: 0 0 0 1em;
    font-size: 0.8em;
    font-weight: 300;
    color: gray;
  }
  .Header--cozy .Header-actions {
    flex: 1;
    justify-content: flex-end;
    font-size: 0.9em;
  }
}


/**
 * Fixes the min-height bug in IE10-11.
 * This class should be added to a container element as described in
 * Flexbug #3. See http://bit.ly/1gy8OJS for details.
 */
.u-ieMinHeightBugFix {
  display: flex;
  flex-direction: column;
}

.u-full {
  width: 100% !important;
  flex: none !important;
}

.u-1of2 {
  width: 50% !important;
  flex: none !important;
}

.u-1of3 {
  width: 33.3333% !important;
  flex: none !important;
}

.u-2of3 {
  width: 66.6667% !important;
  flex: none !important;
}

.u-1of4 {
  width: 25% !important;
  flex: none !important;
}

.u-3of4 {
  width: 75% !important;
  flex: none !important;
}

@media (min-width: 384px) {
  .u-small-full {
    width: 100% !important;
    flex: none !important;
  }
  .u-small-1of2 {
    width: 50% !important;
    flex: none !important;
  }
  .u-small-1of3 {
    width: 33.3333% !important;
    flex: none !important;
  }
  .u-small-2of3 {
    width: 66.6667% !important;
    flex: none !important;
  }
  .u-small-1of4 {
    width: 25% !important;
    flex: none !important;
  }
  .u-small-3of4 {
    width: 75% !important;
    flex: none !important;
  }
}

@media (min-width: 576px) {
  .u-med-full {
    width: 100% !important;
    flex: none !important;
  }
  .u-med-1of2 {
    width: 50% !important;
    flex: none !important;
  }
  .u-med-1of3 {
    width: 33.3333% !important;
    flex: none !important;
  }
  .u-med-2of3 {
    width: 66.6667% !important;
    flex: none !important;
  }
  .u-med-1of4 {
    width: 25% !important;
    flex: none !important;
  }
  .u-med-3of4 {
    width: 75% !important;
    flex: none !important;
  }
}

@media (min-width: 768px) {
  .u-large-full {
    width: 100% !important;
    flex: none !important;
  }
  .u-large-1of2 {
    width: 50% !important;
    flex: none !important;
  }
  .u-large-1of3 {
    width: 33.3333% !important;
    flex: none !important;
  }
  .u-large-2of3 {
    width: 66.6667% !important;
    flex: none !important;
  }
  .u-large-1of4 {
    width: 25% !important;
    flex: none !important;
  }
  .u-large-3of4 {
    width: 75% !important;
    flex: none !important;
  }
}
.u-smaller {
  font-size: 0.85em;
}

.u-bigger {
  font-size: 1.2em;
}
.u-spaceAN { margin: 0 !important; }
.u-spaceVN { margin-top: 0 !important; margin-bottom: 0 !important; }
.u-spaceTN { margin-top: 0 !important; }
.u-spaceRN { margin-right: 0 !important; }
.u-spaceBN { margin-bottom: 0 !important; }
.u-spaceLN { margin-left: 0 !important; }

.u-spaceAS { margin: .5em!important; }
.u-spaceVS { margin-top: .5em!important; margin-bottom: .5em!important; }
.u-spaceTS { margin-top: .5em!important; }
.u-spaceRS { margin-right: .5em!important; }
.u-spaceBS { margin-bottom: .5em!important; }
.u-spaceLS { margin-left: .5em!important; }

.u-spaceAM { margin: 1em!important; }
.u-spaceVM { margin-top: 1em!important; margin-bottom: 1em!important; }
.u-spaceTM { margin-top: 1em!important; }
.u-spaceRM { margin-right: 1em!important; }
.u-spaceBM { margin-bottom: 1em!important; }
.u-spaceLM { margin-left: 1em!important; }

.u-spaceAL { margin: 2em!important; }
.u-spaceVL { margin-top: 2em!important; margin-bottom: 2em!important; }
.u-spaceTL { margin-top: 2em!important; }
.u-spaceRL { margin-right: 2em!important; }
.u-spaceBL { margin-bottom: 2em!important; }
.u-spaceLL { margin-left: 2em!important; }
/**
 * 1. Avoid the IE 10-11 `min-height` bug.
 * 2. Set `flex-shrink` to `0` to prevent some browsers from
 *    letting these items shrink to smaller than their content's default
 *    minimum size. See http://bit.ly/1Mn35US for details.
 * 3. Use `%` instead of `vh` since `vh` is buggy in older mobile Safari.
 */

/* POSITIONING CLASSES 
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.right {
  float:right;
}
.left {
  float:left;
}
.center,
.center img {
  margin:0 auto;
  text-align:center;
}
.text-center {
  margin:0 auto;
  text-align:center;
}

/* TEXT COLORS 
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.text-orange,
.text-orange li,
.text-orange a,
.text-orange a:visited {
  color:#DE7324;
}
.text-orange a:hover {
  color:#ED7D29;
}

.text-white {
  color:#fefefe;
}
.text-white_dk {
  color:#ccc;
}
.text-offwhite {
  color:rgba(225,225,225,0.5);
  text-shadow:none;
}
.text-grey_dk {
  color:#666;
}
.header-section {
  color:rgb(255, 187, 88);
  font-size: 2.5rem;
  margin-bottom:-2.5rem;
  font-weight:400;
  -webkit-font-kerning: normal;
  font-kerning:normal;
  kerning:normal;
  line-height:1;
  margin:0.5rem auto;
  font-family:"bebas_neueregular";
  text-rendering:optimizeLegibility;
}

/* NAVIGATION
–––––––––––––––––––––––––––––––––––––––––––––––––– */
nav {
  background: #26221D;
  /*border-bottom:solid 2px #DE7324;*/
  width:100%;
  display:block;
}

nav ul li{
  font-weight:300;
}

/* LISTS 
–––––––––––––––––––––––––––––––––––––––––––––––––– */
ul, li {
  list-style-type:none;
  font-weight:700;
}

.bullet{
  list-style-type: disc;
}

/* BUTTONS 
–––––––––––––––––––––––––––––––––––––––––––––––––– */
button,
button:visited,
.button,
.button:visited,
input[type=submit],
input[type=submit]:visited {
  min-width: 50%;
  max-height: 100%;
  cursor:pointer;
  border:none;
  display: inline-block;
  background-color:rgb(243,172,5);
  font-family:"bebas_neueregular";
  font-size:1.4rem;
  padding:1rem 2rem;
  text-align:center;
  box-shadow:#999 2px 2px 3px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  margin:1.5rem auto;
}

button:hover,
.button:hover{
  background-color:rgb(255,204,51);
}

.button h2,
button h2 {
  margin-top:auto;
}

.cta-bg-cm {
   background:rgb(243,172,5) url(../img/bg-cta-cm.webp) top center no-repeat;
    background-size:cover;
    margin:1rem;
    padding:4rem;
  cursor:pointer;
  border:none;
  display: inline-block;
}
.cta-bg-cm:hover {
  background-color:rgb(255,204,51);

}
.cta-bg-pm {
   background:rgb(243,172,5) url(../img/bg-cta-pm.webp) top center no-repeat;
    background-size:cover;
    margin:1rem;
    padding:4rem;
  cursor:pointer;
  border:none;
  display: inline-block;
}
.cta-bg-pm:hover {
    background-color:rgb(255,204,51);

}
.padding {
  padding:4%;
  }
.inline {
  display:inline-block;
}

/* FORMS 
–––––––––––––––––––––––––––––––––––––––––––––––––– */
form {
  position:relative;
  font-size:0.8rem;
}

*:focus {
  outline: none;
}
label {
  display:block;
  margin:0.5rem auto 0.25rem;
  font-weight:bold;
}
input[type=text], 
input[type=email], 
input[type=tel],
textarea.message {
  display:inline-block;
  font-family:inherit;
  font-size: 100%;
  line-height: 1.25;
  color:#3c3c3c;
  border: 1px solid #666;
  padding:5px;
  margin:0.25rem auto;
}
input:focus,
textarea:focus,
input:focus:invalid, /* when a field is considered invalid by the browser */
textarea:focus:invalid{
  border: 1px solid #db8c34;
  }

/*
 { 
    border: 1px solid #b03535
}*/

input:required:valid,
textarea:required:valid { /* when a field is considered valid by the browser */
    border: 1px solid #5cd053;
}
      
/*input.first_name,
input.first_name:focus{
  background:#fff url(../img/form-icon-name.svg);
  background-size: 30px 30px;
  background-position: 1px 6px;
  background-repeat: no-repeat;
  padding-left: 50px;
}
input.last_name,
input.last_name:focus{
  padding-left: 0;
  background:none;
}
input.email,
input.email:focus {
  background:#fff url(../img/form-icon-email.svg);
  background-size: 30px 30px;
  background-position: 1px 6px;
  background-repeat: no-repeat;
  padding-left: 50px;
}
input.telephone,
input.telephone:focus {
  background:#fff url(../img/form-icon-phone.svg);
  background-size: 30px 30px;
  background-position: 1px 6px;
  background-repeat: no-repeat;
  padding-left: 50px;
}*/
textarea.message,
textarea.message:focus {
 /* background:#fff url(../img/form-icon-message.svg);
  background-size: 30px 30px;
  background-position: 1px 6px;
  background-repeat: no-repeat;
  padding-left: 50px;*/
  width:100%;
  height:35%;
  }

.commercial-maintenance {
    background:url(../img/header-commercial-maintenance.webp) top center no-repeat;
    background-size:cover;
  }
 
.pavement-marking {
    background:url(../img/header-pavement-marking.webp) top center no-repeat;
    background-size:cover;
  }
.home {
background:none;
  }


/* MEDIA QUERY -- SMALL
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media handheld, screen and (max-width:48em) {
  .hidden-for-small {
    display:none;
  }
  .pic-sngl-ltlt-top {
    border:#fff 8px solid;
    box-shadow:1px 1px 5px #4e4e4e;
    -webkit-transform: rotate(-1deg);
    -moz-transform: rotate(-1deg);
    transform: rotate(-1deg);
    max-width:100%;
  }
}

/* MEDIA QUERY -- MEDIUM-LARGE 
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media all and (min-width: 48em) {
  body {
    font-size:100%;
  }
  nav  > ul > li > a .hidden-for-large {
    display:none;
  }
/*  .Aligner-item--fixed {
    flex: none;
    max-width: 100%;
    padding:3%;
  }*/
/*  .Site-content {
    margin-top:0;
    padding:3%;
    }*/
  h1{
    font-size: 5rem;
    letter-spacing:-1pt;
    text-shadow:1px 1px 1px rgba(45,45,45,0.5);
  }
  h2 {
    font-size: 3.5rem;
    margin:-1.75rem auto 0.5rem;
  }
  h3 {
    font-size:2.5rem;
  }
  h4 {
    font-size:1.75rem;
  }
  h5 {
    font-size:1.5rem;
  }
  h6 {
    font-size:1.25rem;
  }
  button,
  button:visited,
  .button,
  .button:visited,
  input[type=submit],
  input[type=submit]:visited {
    color:white;
    font-size:2.25rem;
    text-shadow:1px 1px 1px rgba(45,45,45,0.9);
    min-width:300px;
  }
.home {
  background:url(../img/logo-hero.webp) center no-repeat;
  background-size:contain;
  }
.Header {
  background: rgba(147, 128, 108, 0.1) url(../img/bg-header.webp) top right no-repeat;
  background-size:contain;
  text-align: left;
}
  .header-section{
    color:rgba(255, 187, 88, 0.8);
    font-size: 6rem;
    margin-bottom: -2.5rem;
    letter-spacing:-1pt;
    text-shadow:none;
  }
  .pic-sngl-ltlt-top {
    border:#fff 0.5rem solid;
    box-shadow:1px 1px 5px #4e4e4e;
    -webkit-transform: rotate(-2deg);
    -moz-transform: rotate(-2deg);
    transform: rotate(-2deg);
    display:block;
    max-width:80%;
  }
  .pic-sngl-rtlt-top {
    border:#fff 0.5rem solid;
    box-shadow:1px 1px 5px #4e4e4e;
    -webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
    transform: rotate(2deg);
    display:block;
    max-width:80%;
  }
  .pic-dbl-ltlt-top { 
    border:#fff 0.5rem solid;
    box-shadow:1px 1px 5px #4e4e4e;
    -webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
    transform: rotate(2deg); 
    max-width:48%;
  }
  .pic-dbl-rtlt-top { 
    border:#fff 0.5rem solid;
    box-shadow:1px 1px 5px #4e4e4e;
    -webkit-transform: rotate(-2deg);
    -moz-transform: rotate(-2deg);
    transform: rotate(-2deg);
    max-width:48%;
  }
  .pic-dbl-ltlt-btm { 
    border:#fff 0.5rem solid;
    box-shadow:1px 1px 5px #4e4e4e;
    -webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
    transform: rotate(2deg);
    max-width:48%;
  }
  .pic-dbl-rtlt-btm { 
    border:#fff 0.5rem solid;
    box-shadow:1px 1px 5px #4e4e4e;
    -webkit-transform: rotate(-2deg);
    -moz-transform: rotate(-2deg);
    transform: rotate(-2deg);
    max-width:48%;
  }

  .text-right {
    text-align:right;
  }

  .hidden-for-large {
    display:none;
  }
}
