/*–––––––––––––––––––––––––––––––––––––––––––––––––– 

MY NAME IS DUSTIN AGUILAR AND THIS IS MY PERSONAL FLEXBOX STYLESHEET.

I USE ELEMENTS FROM HERE: https://github.com/philipwalton/solved-by-flexbox

THEN, I JUST ADD MY OWN STUFF.

WE'LL DO MOBILE STYLING FIRST THEN USE MEDIA QUERIES FOR BIGGER DISPLAYS.

*/
@custom-media --break-sm (min-width: 384px);
@custom-media --break-md (min-width: 576px);
@custom-media --break-lg (min-width: 768px);

@custom-media --high-dppx (-webkit-min-device-pixel-ratio: 1.5),
    (min-resolution: 144dpi), (min-resolution: 1.5dppx);
:root {
  --space: 1.5em;
  --space-lg: 2em;
  --bg-color: hsl(150, 45%, 50%);
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  height: 100%;
  text-rendering: optimizeLegibility;
}
@media (--high-dppx) {
  html {
    font-weight: 300;
  }
}
body {
  font-family:Arial,sans-serif;
  font-size:85%;
  max-width:100%;
  margin:0 auto;
  height:auto;
  position:relative;
  color:#333;
}
section {
  background:#fff url(../img/bg-section.png) bottom center no-repeat;
  background-size:cover;
}
img {
  max-width: 100%;
  height: auto; }

img {
  -ms-interpolation-mode: bicubic; }
p,
pre {
  margin: 0 0 1.5em;
}
p {
  font-size:0.75em;
  line-height:1.3;
  margin-bottom:1.25em;
}
footer{
  background-image:url(../img/bg.jpg);
  font-size:80%;
  color:#888;
  width:100%;
}
footer p {
  font-size:90%;
}
small {
	font-size:75%;
}
a { 
  text-decoration: none; 
}
a,
a:visited {
  color:#DE7324;
}
a:hover {
  color:#037DFF;
}
h1,h2,h3,h4,h5,h6 {
	font-weight:400;
	font-family:"bebas_neueregular";
  text-rendering:optimizeLegibility;
  line-height:1;
  text-shadow:1px 1px 1px rgba(45,45,45,0.5);
  margin:0.3rem auto;
}
h1 {
  font-weight: 300;
  font-size: 3.5em;
  letter-spacing: -.015em;
  margin-top:2rem;
  margin-bottom:-0.75rem;
  line-height:0.8;
  color:rgb(255, 217, 161);
  text-shadow:none;
}

h2 {
  font-size: 3em;
}

h3 {
  font-size:2.5em;
  line-height:0.9;
}
h4 {
  font-size:2rem;
}
h5 {
  font-size:1.75rem;
}
h6 {
  font-size:1.25rem;
}

/* FLEXBOX 
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/**
 * 1. Avoid the IE 10-11 `min-height` bug.
 * 2. Set `flex-shrink` to `0` to prevent some browsers from
 *    letting these items shrink to smaller than their content's default
 *    minimum size. See http://bit.ly/1Mn35US for details.
 * 3. Use `%` instead of `vh` since `vh` is buggy in older mobile Safari.
 */

.Site {
  display: flex;
  flex-direction: column;
  height: 100%; /* 1, 3 */
}
.Site-header,
.Site-footer {
  flex: none; /* 2 */
}
.Site-header{
  width:100%;
}
.Site-content {
  flex: 1 0 auto; /* 2 */
  padding: var(--space) var(--space) 0;
  width: 100%;
}
.Site-content::after {
  content: '\00a0'; /* &nbsp; */
  display: block;
  margin-top: var(--space);
  height: 0px;
  visibility: hidden;
}
@media (--break-lg) {
  .Site-content {
    padding-top: var(--space-lg);
  }
  .Site-content::after {
    margin-top: var(--space-lg);
  }
}
.Site-content--full {
  padding: 0;
}
.Site-content--full::after {
  content: none;
}
.Aligner {
  display: flex;
  align-items: center;
  height: 24em; /* 1 */
  justify-content: center;
}

@supports not (-ms-flex: 1) {
  .Aligner {
    height: auto; /* 2 */
    min-height: 24em; /* 2 */
  }
}
.Aligner-item {
  flex: 1;
}
.Aligner-item--top {
  align-self: flex-start;
}
.Aligner-item--bottom {
  align-self: flex-end;
}
.Aligner-item--fixed {
  flex: none;
  max-width: 80%;
  padding:4%;
}
.Container {
  max-width: 80em;
  height:100%;
  min-height:50vh;
}
 .Container ul li {
  font-size:0.75rem;
  font-weight:bold;
}
.Footer {
  padding: 1.5rem 1.5rem;
  color: gray(60%);
  font-size: 0.85em;
  background:url(img/logo-footer.png) bottom right no-repeat;
  max-width:90%;
}

.Footer a {
  padding-bottom: 1px;
  border: 0;
  color: gray(90%);
}
.Footer a:focus,
.Footer a:active,
.Footer a:hover {
  color: #fff;
  text-decoration: underline;
}

.Grid {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.Grid-cell {
  flex: 1;
}

.Grid--flexCells > .Grid-cell {
  display: flex;
}

.Grid--top {
  align-items: flex-start;
}

.Grid--bottom {
  align-items: flex-end;
}

.Grid--center {
  align-items: center;
}

.Grid--justifyCenter {
  justify-content: center;
}

.Grid-cell--top {
  align-self: flex-start;
}

.Grid-cell--bottom {
  align-self: flex-end;
}

.Grid-cell--center {
  align-self: center;
}

.Grid-cell--autoSize {
  flex: none;
}

.Grid--fit > .Grid-cell {
  flex: 1;
}

.Grid--full > .Grid-cell {
  flex: 0 0 100%;
}

.Grid--1of2 > .Grid-cell {
  flex: 0 0 50%;
}

.Grid--1of3 > .Grid-cell {
  flex: 0 0 33.3333%;
}

.Grid--1of4 > .Grid-cell {
  flex: 0 0 25%;
}

@media (--break-sm) {
  .small-Grid--fit > .Grid-cell {
    flex: 1;
  }
  .small-Grid--full > .Grid-cell {
    flex: 0 0 100%;
  }
  .small-Grid--1of2 > .Grid-cell {
    flex: 0 0 50%;
  }
  .small-Grid--1of3 > .Grid-cell {
    flex: 0 0 33.3333%;
  }
  .small-Grid--1of4 > .Grid-cell {
    flex: 0 0 25%;
  }
}

@media (--break-md) {
  .med-Grid--fit > .Grid-cell {
    flex: 1;
  }
  .med-Grid--full > .Grid-cell {
    flex: 0 0 100%;
  }
  .med-Grid--1of2 > .Grid-cell {
    flex: 0 0 50%;
  }
  .med-Grid--1of3 > .Grid-cell {
    flex: 0 0 33.3333%;
  }
  .med-Grid--1of4 > .Grid-cell {
    flex: 0 0 25%;
  }
}

@media (--break-lg) {
  .large-Grid--fit > .Grid-cell {
    flex: 1;
  }
  .large-Grid--full > .Grid-cell {
    flex: 0 0 100%;
  }
  .large-Grid--1of2 > .Grid-cell {
    flex: 0 0 50%;
  }
  .large-Grid--1of3 > .Grid-cell {
    flex: 0 0 33.3333%;
  }
  .large-Grid--1of4 > .Grid-cell {
    flex: 0 0 25%;
  }
}

.Grid--gutters {
  margin: -1em 0 1em -1em;
}
.Grid--gutters > .Grid-cell {
  padding: 1em 0 0 1em;
}

.Grid--guttersLg {
  margin: -1.5em 0 1.5em -1.5em;
}
.Grid--guttersLg > .Grid-cell {
  padding: 1.5em 0 0 1.5em;
}

.Grid--guttersXl {
  margin: -2em 0 2em -2em;
}
.Grid--guttersXl > .Grid-cell {
  padding: 2em 0 0 2em;
}

@media (--break-sm) {
  .small-Grid--gutters {
    margin: -1em 0 1em -1em;
  }
  .small-Grid--gutters > .Grid-cell {
    padding: 1em 0 0 1em;
  }
  .small-Grid--guttersLg {
    margin: -1.5em 0 1.5em -1.5em;
  }
  .small-Grid--guttersLg > .Grid-cell {
    padding: 1.5em 0 0 1.5em;
  }
  .small-Grid--guttersXl {
    margin: -2em 0 2em -2em;
  }
  .small-Grid--guttersXl > .Grid-cell {
    padding: 2em 0 0 2em;
  }
}

@media (--break-md) {
  .med-Grid--gutters {
    margin: -1em 0 1em -1em;
  }
  .med-Grid--gutters > .Grid-cell {
    padding: 1em 0 0 1em;
  }
  .med-Grid--guttersLg {
    margin: -1.5em 0 1.5em -1.5em;
  }
  .med-Grid--guttersLg > .Grid-cell {
    padding: 1.5em 0 0 1.5em;
  }
  .med-Grid--guttersXl {
    margin: -2em 0 2em -2em;
  }
  .med-Grid--guttersXl > .Grid-cell {
    padding: 2em 0 0 2em;
  }
}

@media (--break-lg) {
  .large-Grid--gutters {
    margin: -1em 0 1em -1em;
  }
  .large-Grid--gutters > .Grid-cell {
    padding: 1em 0 0 1em;
  }
  .large-Grid--guttersLg {
    margin: -1.5em 0 1.5em -1.5em;
  }
  .large-Grid--guttersLg > .Grid-cell {
    padding: 1.5em 0 0 1.5em;
  }
  .large-Grid--guttersXl {
    margin: -2em 0 2em -2em;
  }
  .large-Grid--guttersXl > .Grid-cell {
    padding: 2em 0 0 2em;
  }
}


/* POSITIONING CLASSES 
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.right {
  float:right;
}
.left {
  float:left;
}
.center {
  margin:0 auto;
}
.text-center {
  margin:0 auto;
  text-align:center;
}


/* TEXT COLORS 
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.text-orange,
.text-orange {
  color:#DE7324;
}
.text-white {
  color:#eee;
}
.text-white_dk {
  color:#ccc;
}
.text-offwhite {
  color:rgba(225,225,225,0.5);
  text-shadow:none;
}
.text-grey_dk {
  color:#666;
}

/* NAVIGATION
–––––––––––––––––––––––––––––––––––––––––––––––––– */
nav {
  background: #333;
  border-bottom:solid 2px #DE7324;
  width:100%;
}

/* LISTS 
–––––––––––––––––––––––––––––––––––––––––––––––––– */
ul, li {
  list-style-type:none;
}

.bullet{
    list-style-type: disc;
}
/* BUTTONS 
–––––––––––––––––––––––––––––––––––––––––––––––––– */
button,
button:visited,
.button,
.button:visited,
input[type=submit],
input[type=submit]:visited {
  max-width: 100%;
  max-height: 100%;
  cursor:pointer;
  border:none;
  background-color:rgb(243,172,5);
  font-family:"bebas_neueregular";
  text-rendering:optimizeLegibility;
  color:white;
  font-size:1.4em;
  padding:.75em 1.75em;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  margin:1em auto;

  .btn-small{
    background-color:#0057b4;
    font-size:18px;
    padding:0.75em 1.5em;
    margin:1em auto;
  }
}

button:hover,
.button:hover{
  background-color:rgb(255,204,51);
}

/* FORMS 
–––––––––––––––––––––––––––––––––––––––––––––––––– */
form {
  position:relative;
}

label {
  font-size:100%;
  display:block;
}

::-webkit-input-placeholder {
   color: #888;
}

:-moz-placeholder { /* Firefox 18- */
   color: #888;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #888;  
}

:-ms-input-placeholder {  
   color: #888;  
}

input[type=text], 
input[type=email], 
input[type=tel] {
  display:inline-block;
  font-family:inherit;
  font-size: 95%;
  line-height: 1.5;
  color:#3c3c3c;
  border-radius: 0;
  border:1px solid rgba(225,225,225,0);
  border-bottom: 1px solid rgba(0,0,0,.20);
  padding: 10px;
  margin:3px auto;
  max-width:100%;

  &:focus{
  background: #fff;
  box-shadow: 0;
  border: 1px solid #3498db;
  }
}

/* THESE ARE FOR THE ICONS IN THE INPUT FIELDS
–––––––––––––––––––––––––––––––––––––––––––––––––– */
input.namefirst,
input.namefirst:focus{
  background: url(../img/name.svg);
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
  padding-left: 54px;
}
input.namelast,
input.namelast:focus{
  padding-left: 54px;
  background:none;
}

input.email,
input.email:focus {
  background: url(../img/email.svg);
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
  padding-left: 54px;
}
input.phone,
input.phone:focus {
  background: url(../img/phone.svg);
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
  padding-left: 54px;
}
input.message,
input.message:focus {
  background: url(../img/message.svg);
  background-size: 30px 30px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
  padding-left: 54px;
  width:auto;
}
.commercial-maintenance {
    background:url(../img/header-commercial-maintenance.png) top center no-repeat;
    background-size:cover;
  }
.pavement-marking {
    background:url(../img/header-pavement-marking.png) top center no-repeat;
    background-size:cover;
  }
.home {
  background:url(../img/bg-home.png) top center no-repeat;
  background-size:cover;
  }
@media handheld, screen and (max-width:48em) {
  .hidden-for-small {
    display:none;
  }

  /* IMAGE ROTATION
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.rotate-one {
    border:#fff 8px solid;
    box-shadow:1px 1px 5px #4e4e4e;
    -webkit-transform: rotate(-1deg);
    -moz-transform: rotate(-1deg);
    transform: rotate(-1deg);
    max-width:100%;
}
// .rotate-two { 
//     border:#fff 8px solid;
//     box-shadow:1px 1px 5px #4e4e4e;
//     -webkit-transform: rotate(-2deg);
//     -moz-transform: rotate(-2deg);
//     transform: rotate(-2deg);
//     max-width:50%;
//     display:inline-block;
// }
// .rotate-three { 
//     border:#fff 8px solid;
//     box-shadow:1px 1px 5px #4e4e4e;
//     -webkit-transform: rotate(1deg);
//     -moz-transform: rotate(1deg);
//     transform: rotate(1deg);
//     max-width:50%;
//     display:inline-block;
// }
}

/* MEDIA QUERY -- MEDIUM-LARGE 
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media all and (min-width: 48em) {
  body {
    font-size:100%;
  }
  .hidden-for-large {
    display:none;
  }
  .Aligner-item--fixed {
    flex: none;
    max-width: 100%;
    padding:3%;
  }
  h1 {
    font-size: 6em;
    color:rgb(255, 217, 161);
    margin-bottom: -0.3em;
    letter-spacing:-1pt;
    text-shadow:none;
    }
button,
button:visited,
.button,
.button:visited,
input[type=submit],
input[type=submit]:visited {
  max-width: 100%;
  max-height: 100%;
  cursor:pointer;
  border:none;
  background-color:rgb(243,172,5);
  font-family:"bebas_neueregular";
  text-rendering:optimizeLegibility;
  color:white;
  font-size:2.25em;
  padding:.75em 1.75em;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  margin:1em auto;
}
.rotate-one {
    border:#fff 8px solid;
    box-shadow:1px 1px 5px #4e4e4e;
    -webkit-transform: rotate(-1deg);
    -moz-transform: rotate(-1deg);
    transform: rotate(-1deg);
    display:block;
    margin:0 auto;
    flex: 1 1 100%;
    min-width: 0; 
     max-width:60%;
}
.rotate-two { 
    border:#fff 8px solid;
    box-shadow:1px 1px 5px #4e4e4e;
    -webkit-transform: rotate(-2deg);
    -moz-transform: rotate(-2deg);
    transform: rotate(-2deg);
    margin-top:-5rem;
     flex: 1 1 100%;
    min-width: 0; 
    max-width:50%;
}
.rotate-three { 
    border:#fff 8px solid;
    box-shadow:1px 1px 5px #4e4e4e;
    -webkit-transform: rotate(1deg);
    -moz-transform: rotate(1deg);
    transform: rotate(1deg);
    margin-top:-3rem;
    margin-left:-1rem;
     flex: 1 1 100%;
    min-width: 0; 
    max-width:50%;
}
main {
  background:url(../img/bg-content.png) top center no-repeat;
}
.text-right {
  text-align:right;
}
footer .border {
  border-left:solid 1px #555;
  margin:10px;
  padding:5px;
}
}

